<div class="topPage">
  <div class="listWrapper">
    <% @tasks.each do |task| %>
      <div class="list">
        <div class="list_header">
          <h2 class="list_header_title"><%= task.title %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>