<div class="topPage">
  <div class="taskWrapper">
    <% @tasks.each do |task| %>
      <div class="task">
        <div class="task_header">
          <h2 class="task_header_title"><%= task.title %></h2>
          <div class="task_header_action">
            <%= link_to(content_tag(:i,'', class: 'fas fa-pen'), edit_task_path(task))%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>