.message_user_position {
  width: 100%;
  margin: 30px auto;
  display: inline-block;
  text-align: center;
}

.position_title {
  margin: 0 auto 30px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.map {
  margin: 0 auto 30px;
}
