<div class="form">
  <div>
    <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: "form-input" %>
  </div>
  <div class=" form-message">
    <%= label_tag :content, '入力後Enterを押してください' %>
  </div>
</div>