.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #bababa;
  overflow-x: scroll;
}

.listWrapper {
  height: 100%;
  display: flex;
  align-items: baseline;
}

.list {
  position: relative;
  background: #e2e4e6;
  padding: 10px;
  margin-left: 20px;
  min-width: 250px;
}

.list:last-child {
  margin-right: 20px;
}

.list_header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_title {
  font-size: 20px;
  margin: 0;
}